.topbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header {
  background: #F297A0;   
  padding: 20px;
  border-bottom: 2px solid #ddd; 
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font: italic small-caps bold 2em/1.2 "Georgia", serif;
  color: #393939;
  gap: 12px;
}
.logo {
  height: 100px;          
  width: 100px;           
  border-radius: 50%;     
  object-fit: cover;     
}
.site-title {
  font-size: 28px;
  margin: 0;
  font: italic small-caps bold 2em/1.2 "Georgia", serif;
  color: #393939;
}

nav {
  background: #F3EBD8;   
}
nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  position: relative;
  list-style: none;
}
nav ul li a {
  display: block;
  padding: 14px 20px;
  color: #393939;
;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  background: #e2d6bb;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #F3EBD8;
  min-width: 160px;
  top: 100%;
  left: 0;
  z-index: 10;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.dropdown-content li {
  list-style: none;
}
.dropdown-content li a {
  color: #393939;
  padding: 10px 15px;
  display: block;
}
.dropdown-content li a:hover {
  background: #e1d1db;
}
.dropdown:hover .dropdown-content {
  display: block;
}

video {
  max-width: 50%;
  text-align: left;  
}
   .wave-container {
      position: relative;
      width: 100%;
      overflow: hidden;
      line-height: 0;
    }

    .wave-container svg {
      position: relative;
      display: block;
      width: calc(200% + 1.3px); /* makes sure it covers full screen */
      height: 150px;
    }
.promo-btn {
  position: fixed;
  top: 200px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #F297A0;
  color: white;
  font-size: 1.5em;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2100;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.promo-box {
  position: fixed;
  top: 200px;
  right: 80px;
  width: 250px;
  height: 250px;
  background: #F3EBD8;
  border: 2px solid #F297A0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  padding: 15px;
  display: none;
  z-index: 2099;
}
#promo-toggle:checked ~ .promo-box {
  display: block;
}

main {
  padding: 20px;
}
section {
  max-width: 65%;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.slider {
  height: 200px;           
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: #fff;
}

.slide-track {
  display: flex;
  width: calc(250px * 12);  
  animation: scroll 20s linear infinite;
}

.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  perspective: 100px;
}

.slide img {
  height: 100%;
  width: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.5s;
}
.slide img:hover {
  transform: scale(1.1); 
}
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Gradient shadows */
.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255,255,255, 0.1));
  content: '';
  position: absolute;
  width: 15%;
  height: 100%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

footer {
  width: 100%;
  text-align: center;
  font-style: italic;
  background: #F297A0;
  color: #ffffff;
  padding: 15px 0;
  margin-top: 20px;
}

footer a {
  color: #000000;
  text-decoration: none;
  font-style: normal; 
  display: inline-flex;
  align-items: center;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

footer i {
  font-size: 22px;  
  color: #393939;  
}
